*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.marginTitle{
    margin-top: 73px;
}
.marginContent{
margin-top: 2%;
}
h1{
    text-transform: uppercase;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 36px;
    background-color: #000;
    color: #fff;
}
.firstSection{
    display: flex;
    align-items: end;
    width: 60%;
}
.firstSection > p{
    margin-left: 5%;
    color: #00E4F0;
}
.nav > nav > ul{
    display: flex;
    align-items: end;
}
.nav > nav > ul > li{
    font-size: 12px;
    white-space: nowrap;
    margin-right: 10%;
}
li>a{
    color: #00E4F0;
    text-decoration: none;
}
.nav{
    display: flex;
    align-items: end;
    width: 40%;
}

main{
    padding: 36px;
    background-color: #000;
    color:#fff;
}
.firstBlock{
    display: flex;
}
.firstBlock > img{
    border-radius: 16px;
}
.firstBlockText{
    padding: 10px 21px;
    border-radius: 16px;
    border: #00E4F0 1px solid;
    margin-left: 1%;
    color: #fff;
    background: linear-gradient(45deg, rgb(0, 0, 0) 45%, rgb(0, 228, 240));
}
.firstBlockText > button{
    margin-top: 10%;
    margin-bottom: 10%;
    padding: 7px;
    background-color: #00E4F0;
    width: 334px;
    border-radius: 16px;
    cursor: pointer;
    height: 36px;
}
.firstBlockText > p{
    font-size: 18px;
}
.firstBlockText > h1{
    font-style: normal;
    font-weight: normal;
    letter-spacing: 5%;
    line-height: 35px;
}


.secondBlock > .block{
    display: flex;
    justify-content: space-between;
}
.block > .card{
    border-radius: 16px;
    width: 25%;
    border: #FF4C00 1px solid;
    padding: 20px;
    font-size: 20px;
    text-transform: uppercase;
}
.card > img{
    width: 100%;
}
.text{
    display: flex;
    align-items: end;
    height: 35%;
}


.thirdBlock > div > img{
    width: 100%;
    border: #00E4F0 1px solid;
    border-radius: 16px;
    box-shadow: 0px 0px 7px 4px #00E4F099;
    margin-top: 2%;
}

.card4{
    border: 1px #00E4F0 solid;
    border-radius: 16px;
    padding: 20px;
    width: 333px;
    background: linear-gradient(45deg, rgb(0, 228, 240), rgb(0, 0, 0) 62%);
    margin-top: 2% ;
}
.card4 > p{
    font-size: 18px;
}
.cardIn{
    display: flex;
}
.slider{
    display: flex;
    justify-content: space-between;
}
.cardIn > span{
    border: 1px #fff solid;
    padding: 4px 9px;
    border-radius: 16px;
    margin-right: 1%;
}
.card42{
    width: 448px;
    border: 1px #00E4F0 solid;
    border-radius: 16px;
    padding: 20px;
    background: linear-gradient(45deg, rgb(0, 228, 240), rgb(0, 0, 0) 62%);
    margin-top: 2% ;
}
.card42 > span{
    color: #00E4F0;
    font-size: 20px;
}
.card42 > p{
    font-size: 18px;
}
.card43{
    width: 563px;
    border: 1px #00E4F0 solid;
    border-radius: 16px;
    padding: 20px;
    background: linear-gradient(45deg, rgb(0, 228, 240), rgb(0, 0, 0) 62%);
    margin-top: 2%;
}
.card43 > span{
    color: #00E4F0;
    font-size: 20px;
    text-transform: uppercase;
}
.card43 > p{
    font-size: 18px;
}


.fifthBlock{
    margin-top: 5%;
}
.fifthBlockContent{
    display: flex;
    justify-content: space-between;
}
.card5{
    background: linear-gradient(45deg, rgb(255, 76, 0), rgb(0, 0, 0) 62%);
    border: #FF4C00 1px solid;
    border-radius: 16px;
    padding: 15px;
    width: 45%;
}
.card5 > div > h1{
    text-transform: uppercase;
}
.card5 > ul{
    padding-left: 15px;
}
.card5 > div{
    display: flex;
    justify-content: space-between;
}
.card5 > ul > li{
    font-size: 18px;
}

.sixthBlock > h1{
    width: 50%;
}
.content6{
    display: flex;
}
.title{
    text-transform: uppercase;
    background: linear-gradient(68.23deg, #FF4C00 9.46%, #B38BCE 52.36%, #00E4F0 91.95%);
    font-size: 32px;
    width: 30%;
    border-radius: 16px;
    padding: 15px;
}
.title > p{
    width: 60%;
}
.form{
    background: linear-gradient(246.99deg, #00E4F0 3.34%, rgba(0, 0, 0, 0) 75.22%);
    border: 1px solid #00E4F0;
    border-radius: 16px;
    padding: 15px;
}
input[type="text"]{
    border: 1px solid #00E4F0;
    border-radius: 30px;
    background-color: #000;
    width: 100%;
    font-size: 18px;
    padding: 13px 29px;
    margin: 2% 0;
}
input[type="checkbox"] {
  display: flex;
  align-items: center;
  column-gap: 4px;
  width: fit-content;
  line-height: 1;
  cursor: pointer;
}

input[type="checkbox"]:not(:last-of-type) {
  margin-bottom: 16px;
}

input[type="checkbox"] {
  appearance: none;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid #00e4f0;
  border-radius: 2px;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #000000;
}

input[type="checkbox"]:checked + label::after {
  content: " ";
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA0NDggNTEyIj48cGF0aCBmaWxsPSIjMDAwZTRmIiBkPSJNMCA5NkMwIDYwLjY1IDI4LjY1IDMyIDY0IDMySDM4NEM0MTkuMyAzMiA0NDggNjAuNjUgNDQ4IDk2VjQxNkM0NDggNDUxLjMgNDE5LjMgNDgwIDM4NCA0ODBINjRDMjguNjUgNDgwIDAgNDUxLjMgMCA0MTZWOTZ6Ii8+PC9zdmc+");
  position: absolute;
  top: 5px;
  left: 3px;
  width: 12px;
  height: 6px;
  border-bottom: 2px solid #00e4f0;
  border-left: 2px solid #00e4f0;
  transform: rotate(-45deg);
}
form > div{
    display: flex;
}

input[type="submit"]{
    background: linear-gradient(252.6deg, #FF4C00 20.57%, #B38BCE 60.25%, #00E4F0 86.93%);
    padding: 12px 120px;
    font-size: 20px;
    border-radius: 30px;
}

.footerContent{
    display: flex;
    font-size: 12px;
}
.footerContent > div{
    width: 30%;
}